/* Column-1 configs */
main .column-1{
    grid-area: left;
    background-color: var(--background);
}

.column-1 .wrapper{
    min-height: calc(100vh - 13rem);
}

.box-form{
    width: min(80%, 57.2rem);
    padding: min(5.5rem, 80%) min(11.9rem, 15%);
}

/* Column-2 configs */
main .column-2.img-login, main .column-2.img-register{
    grid-area: right;

    min-height: 100vh;
    background-size: cover;
    filter: contrast(1.3);
}

.column-2.img-login{
    background: url('../img/side-image-login.webp') no-repeat center;
}

/* Register configs */
.main-register{
    grid-template-areas: 'right left';
}

.column-2.img-register{
    background: url('../img/side-image-register.webp') no-repeat center;
}