/* General configs */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --text-base: hsl(218, 13%, 72%);
    --text-title: hsl(44, 26%, 77%);
    --background: hsl(40, 6%, 9%);
    --form-background: hsl(36, 7%, 13%);
    --primary-color: hsl(43, 100%, 60%);
    --shadow-input: hsl(43, 100%, 77%);
    --border-input: hsl(0, 0%, 53%);
    --text-btn: hsl(43, 89%, 15%);

    font-size: 62.5%;
}

body{
    font-size: 1.6rem;

    width: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-just-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-menu{
    padding: 4rem;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--text-title);
}

.links{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--primary-color);
}

.links:hover{
    filter: brightness(1.2);
}

.paragraph-gray{
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--text-base);
}

.btn{
    cursor: pointer;

    margin-block: 2rem 1.4rem;
    padding: 1.2rem 2.4rem;
    width: 100%;

    background-color: var(--primary-color);
    border-radius: .4rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    letter-spacing: 0.015rem;
    text-transform: uppercase;
    color: var(--text-btn);
    text-align: center;

    transition: .3s;
}

.btn:hover{
    filter: brightness(1.2);
    transition: .3s;
}

/* Form configs */
.column-1 .box-form{
    background-color: var(--form-background);
    border-radius: .4rem;
}

.box-form .header-form{
    margin-bottom: 2.7rem;
}

.header-form h2{
    gap: 1rem;
    margin-bottom: .5rem;
}

form label{
    font-family: 'Poppins', sans-serif;
}

form .input-content{
    gap: .5rem;

    padding: 1.2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 100%;

    border-radius: .4rem;
    border: 1px solid var(--border-input);

    transition: .3s;
}

form .input-content:hover{
    border-color: var(--primary-color);
    box-shadow: 0 0 0 .2rem var(--shadow-input);

    transition: .3s;
}

.input-content > svg path{
    stroke: var(--text-base);
}

.input-content:hover svg path{
    stroke: var(--primary-color);
}

.input-content input{
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text-base);

    width: 100%;
    background-color: transparent;
}

.input-content input::placeholder{
    color: var(--text-base);
}

form .options-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-login .wrapper-remember{
    gap: .5rem;
}

.wrapper-remember input{
    display: none;
}

.wrapper-remember label{
    line-height: 1.9rem;
    color: var(--text-base);

    cursor: pointer;
}

.wrapper-remember label::before{
    content: '';
    display: inline-block;
    vertical-align: middle;

    border: .1rem solid var(--border-input);
    border-radius: .4rem;
    
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.wrapper-remember input:checked + label::before{
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6667 1L5.50004 10.1667L1.33337 6' stroke='%23473404' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.options-login a{
    text-align: right;
}

.box-form > .options-login{
    gap: .5rem;
}

.box-form > .options-login > p{
    font-weight: 400;
}

.box-form > .options-login > p{
    pointer-events: none;
}

/* Response */
@media (max-width: 850px){
    body{
        overflow: hidden;
    }

    main{
        grid-template-areas: 'left left';
        background-color: var(--background);
    }

    .column-1 .wrapper{
        height: 100vh;
    }

    .column-1 .box-form{
        background-color: transparent;
        padding: 0 min(10%, 5%);
        margin-top: -20rem;
        width: 80%;
    }
}

@media (max-width: 425px){
    .column-1 .box-form {
        padding: 0 2rem;
        margin-top: -10rem;
        width: 100%;
        padding: 2rem;
    }
}