<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('partials/head') %>
    <link rel="stylesheet" href="./css/form.css">
</head>

<body>
    <div class="result result-error flex-center">
        <img src="./img/logo.svg" alt="Logo da camp.in">
        <h2>Erro ao realizar o login!</h2>
        <p class="paragraph-gray">Verifique o email e senha inseridos.</p>
    </div>
</body>

<script>
    setTimeout(() => window.location.replace('/'), 3500)
</script>

</html>