<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('partials/head') %>

    <link rel="stylesheet" href="./css/form.css">
    
</head>

<body>
    <main class="main-recovery">
        <section class="content">
            <header class="main-menu">
                <a href="/"><img src="./img/logo.svg" alt="Logo camp.in"></a>
            </header>
            <div class="wrapper flex-center">

                <div class="box-black flex-center">
                    <div class="box-form">
                        <header class="header-form">
                            <h2>
                                Recupere sua senha
                            </h2>
                            <p class="paragraph-gray">Digite as informações necessárias para criar uma nova senha.</p>
                        </header>

                        <form action="/recuperar-senha" method="post" class="formChangePass">
                            <label for="email" class="paragraph-gray">E-mail</label>
                            <div class="input-content flex-just-start">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.33329 3.33331H16.6666C17.5833 3.33331 18.3333 4.08331 18.3333 4.99998V15C18.3333 15.9166 17.5833 16.6666 16.6666 16.6666H3.33329C2.41663 16.6666 1.66663 15.9166 1.66663 15V4.99998C1.66663 4.08331 2.41663 3.33331 3.33329 3.33331Z"
                                        stroke="#FFC632" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M18.3333 5L9.99996 10.8333L1.66663 5" stroke="#FFC632" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
                            </div>

                            <label for="newPass" class="paragraph-gray">Nova senha</label>
                            <div class="input-content flex-just-start">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.8333 9.16666H4.16667C3.24619 9.16666 2.5 9.91285 2.5 10.8333V16.6667C2.5 17.5871 3.24619 18.3333 4.16667 18.3333H15.8333C16.7538 18.3333 17.5 17.5871 17.5 16.6667V10.8333C17.5 9.91285 16.7538 9.16666 15.8333 9.16666Z"
                                        stroke="#AFB6C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M5.83337 9.16666V5.83332C5.83337 4.72825 6.27236 3.66845 7.05376 2.88704C7.83516 2.10564 8.89497 1.66666 10 1.66666C11.1051 1.66666 12.1649 2.10564 12.9463 2.88704C13.7277 3.66845 14.1667 4.72825 14.1667 5.83332V9.16666"
                                        stroke="#AFB6C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <input type="password" name="newPass" id="newPass" placeholder="Digite uma nova senha" required>
                            </div>

                            <label for="confirmPass" class="paragraph-gray">Confirmar senha</label>
                            <div class="input-content flex-just-start">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.8333 9.16666H4.16667C3.24619 9.16666 2.5 9.91285 2.5 10.8333V16.6667C2.5 17.5871 3.24619 18.3333 4.16667 18.3333H15.8333C16.7538 18.3333 17.5 17.5871 17.5 16.6667V10.8333C17.5 9.91285 16.7538 9.16666 15.8333 9.16666Z"
                                        stroke="#AFB6C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M5.83337 9.16666V5.83332C5.83337 4.72825 6.27236 3.66845 7.05376 2.88704C7.83516 2.10564 8.89497 1.66666 10 1.66666C11.1051 1.66666 12.1649 2.10564 12.9463 2.88704C13.7277 3.66845 14.1667 4.72825 14.1667 5.83332V9.16666"
                                        stroke="#AFB6C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <input type="password" name="confirmPass" id="confirmPass" placeholder="Digite a nova senha novamente" required>
                            </div>
                
                            <button class="btn">Gerar nova senha</button>

                        </form>

                        <div class="options-login flex-center">
                            <p class="links">Não tem uma conta?</p>
                            <a href="/cadastrar" class="links">Registre-se</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
    <script src="/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        if('<%=status%>' == 'err-changing-pass'){

            let timerInterval
            Swal.fire({
                iconColor: '#ffc533',
                color: '#d4cbb5',
                background: '#23221f',
                icon: 'error',
                title: 'Usuário não encontrado',
                text: 'O email inserido não pertence a nenhuma conta existente.',
                timer: 3000,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                }
            })
        }
    </script>

</html>