<!DOCTYPE html>
<html lang="pt-BR">

<%- include('partials/head') %>

<body>
    <div class="result">
        <img src="./img/logo.svg" alt="Logo da camp.in">
        <h2>Login realizado com sucesso!</h2>
        <p class="paragraph-gray">A camp.in agradece a preferência</p>
        <a href="/" class="btn">Voltar para home</a>
    </div>
</body>
</html>